@{
    ViewBag.Title = "GeneralLedger";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<style type="text/css">
    #menu {
        font: 12px verdana, arial, sans-serif;
    }

        #menu, #menu li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            #menu li {
                float: right;
            }

                #menu li a {
                    display: block; /* 如果是中英文混排的文字，建议用固定宽度
    width:150px;
    height:30px;
    line-height:30px;
    text-align:center;
    */
                    padding: 1px 5px;
                    text-decoration: none;
                    border-left: 1px solid #000;
                }

                    #menu li a.last {
                        border-right: 0; /* 去掉左侧边框 */
                    }

    #example {
        white-space: normal;
        word-break: break-all;
        word-wrap: break-word;
    }
    .colorRed {
        /*color: rgb(125, 126, 126);*/
        font-size: 14px;
        padding: 0 3px 0 3px;
    }
</style>

<div id="main" style="margin-top: 100px; background-color: #FFF; padding-bottom: 20px;">
   
    <!-- Start: Sidebar -->
    <aside id="sidebar_left" style="font-size: 16px;">
        <div class="sidebar-menu" style="margin-top: 10px">
            <ul class="nav">
                <li><span class="sidebar-title" style="font-size: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的公司：<a onclick="javascript:window.location = '/CompanyInformationSet/Index'" href="javascript:window.location = '/CompanyInformationSet/Index'"><span class="sidebar-title" style="font-size: 14px; color: #023A85"><b>@Session["CompanyName"]</b></span></a></span></li>
                <li><span class="sidebar-title" style="font-size: 14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;财务统计货币：<a onclick="javascript:window.location = '/Company/ChangeCompanySetting'" href="javascript:window.location = '/Company/ChangeCompanySetting'"><span class="sidebar-title" style="font-size: 14px;color: #023A85"><b>@Session["Currency"]</b></span></a></span></li>
                <li id="UserInfo"> <a onclick="javascript: window.location = '/UserInfo/Index'" href="javascript:window.location = '/UserInfo/Index'"><span class="glyphicons glyphicons-chevron-right" style="font-size: 14px"></span><span class="sidebar-title" style="font-size: 14px">我的属性</span></a></li>
                <li> <a onclick="javascript:window.location = '/Company/ChooseAndAddCompany'" href="javascript:window.location = '/Company/ChooseAndAddCompany'"><span class="glyphicons glyphicons-chevron-right" style="font-size: 14px"></span><span class="sidebar-title" style="font-size: 14px">新增或切换公司</span></a></li>
                <li>
                    <a class="accordion-toggle" href="#sideFour"><span class="glyphicons glyphicons-chevron-right" style="font-size: 14px"></span><span class="sidebar-title" style="font-size: 14px">财务数据设置</span></a>
                    <ul id="sideFour" class="nav sub-nav">
                        <li><a onclick="javascript:window.location = '/InitialBalanceManagement/Index'" href="#"><span class="sidebar-title" style="font-size: 14px">科目余额初始化</span></a></li>
                        <li><a onclick="javascript:window.location = '/TaxAndTaxRateSet/Index'" href="#"><span class="sidebar-title" style="font-size: 14px">税种与税率设置</span></a></li>
                        <li><a onclick="javascript:window.location = '/CurrencyAndExchangeRateManagement/Index'" href="#"><span class="sidebar-title" style="font-size: 14px">货币与汇率设置</span></a></li>
                        @*<li><a onclick="javascript:window.location = '/DetailManagement/Index'" href="#"><span class="sidebar-title" style="font-size: 14px">费用类别设置</span></a></li>*@
                        <li><a onclick="javascript:window.location = '/BusinessUnitSetting/Index'" href="#"><span class="sidebar-title" style="font-size: 14px">业务单元设置</span></a></li>
                    </ul>
                </li>

                <li class="active"> <a onclick="javascript:window.location = '/GeneralLedgerAccount/GeneralLedger'" href="javascript:window.location = '/GeneralLedgerAccount/GeneralLedger'"><span class="glyphicons glyphicons-chevron-right" style="font-size: 14px"></span><span class="sidebar-title" style="font-size: 14px;color: #08C">设置会计科目</span></a></li>
                <li>
                    <a class="accordion-toggle" href="#sideVoucher"><span class="glyphicons glyphicons-chevron-right" style="font-size: 14px"></span><span class="sidebar-title" style="font-size: 14px">科目查询</span></a>
                    <ul id="sideVoucher" class="nav sub-nav">
                        <li><a onclick="javascript: window.location = '/InitialBalanceManagement/Search'" href="javascript:window.location = '/InitialBalanceManagement/Search'"><span class="sidebar-title" style="font-size: 14px">科目流水查询</span></a></li>
                       <li><a onclick="javascript: window.location = '/InitialBalanceManagement/BalanceSearch'" href="javascript:window.location = '/InitialBalanceManagement/BalanceSearch'"><span class="sidebar-title" style="font-size: 14px">科目余额查询</span></a></li>
                        @*<li><a href="#"><span class="sidebar-title" style="font-size: 14px">科目余额</span></a></li>*@
                    </ul>
                </li>
                <li>
                    <a class="accordion-toggle" href="#sidecompany"><span class="glyphicons glyphicons-chevron-right" style="font-size: 14px"></span><span class="sidebar-title" style="font-size: 14px">公司登记</span></a>
                    <ul id="sidecompany" class="nav sub-nav">
                        <li> <a onclick="javascript: window.location = '/BusinessPartnerSetting/BusinessPartner'" href="javascript:window.location = '/BusinessPartnerSetting/BusinessPartner'"><span class="sidebar-title" style="font-size: 14px">往来公司登记</span></a></li>
                        <li> <a onclick="javascript: window.location = '/BusinessPartnerSetting/Index'" href="javascript:window.location = '/BusinessPartnerSetting/Index'"><span class="sidebar-title" style="font-size: 14px">往来公司查询</span></a></li>
                    </ul>
                </li>
                
                <li>
                    <a class="accordion-toggle" href="#sideTwo"><span class="glyphicons glyphicons-chevron-right" style="font-size: 14px"></span><span class="sidebar-title" style="font-size: 14px">用户管理</span></a>
                    <ul id="sideTwo" class="nav sub-nav">
                        <li><a onclick="javascript:window.location = '/UserManagement/AddUser'" href="#"><span class="sidebar-title" style="font-size: 14px">增加新用户</span></a></li>
                        <li><a onclick="javascript:window.location = '/UserManagement/UserList'" href="#"><span class="sidebar-title" style="font-size: 14px">变更用户权限</span></a></li>
                        <li><a onclick="javascript:window.location = '/UserManagement/ExchangeManager'" href="#"><span class="sidebar-title" style="font-size: 14px">变更管理者</span></a></li>
                        <li><a onclick="javascript:window.location = '/Company/EditUser'" href="#"><span class="sidebar-title" style="font-size: 14px">修改密码</span></a></li>
                    </ul>
                </li>
                
                 @*<li>
                    <a class="accordion-toggle" href="#sideVoucher"><span class="glyphicons glyphicons-chevron-right" style="font-size: 14px"></span><span class="sidebar-title" style="font-size: 14px">会计凭证</span></a>
                    <ul id="sideVoucher" class="nav sub-nav">
                        <li> <a onclick="javascript:window.location = '/VoucherQuery/VoucherRecord'" href="javascript:window.location = '/VoucherQuery/VoucherRecord'"><span class="glyphicons glyphicons-chevron-right" style="font-size: 14px"></span><span class="sidebar-title" style="font-size: 14px">新增会计凭证</span></a></li>
                        <li> <a onclick="javascript:window.location = '/VoucherQuery/Index'" href="javascript:window.location = '/VoucherQuery/Index'"><span class="glyphicons glyphicons-chevron-right" style="font-size: 14px"></span><span class="sidebar-title" style="font-size: 14px">查询会计凭证</span></a></li>
                    </ul>
                </li>*@
                
                <li> <a onclick="Undone()" href=""><span class="glyphicons glyphicons-chevron-right" style="font-size: 14px"></span><span class="sidebar-title" style="font-size: 14px">寻求会计帮助</span></a></li>
            </ul>
        </div>
    </aside>
    <!-- Start: Content -->
    <section id="content_wrapper">
        <div id="MAIN" style="background-color: #FFF;">
            <div id="content">
            <div class="col-md-12" style="margin: auto">
                 <div class="col-md-2" style="margin: auto"></div>
                        <div class="col-md-8" style="margin: auto">
                     <div class="panel-group" id="accordion" style="margin:0" >
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Assets1">
                                    资产类
                                </a>
                                <input type="button" value="全选" style=" border-radius: 100px;margin:0 0 0 10%;font-weight:normal;font-size:14px" onclick="CheckDetailAll(this)" />
                                </h4>
                                
                            </div>
                            <div id="Assets1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                <form>
                                    <div class="input-group " style="margin: auto">
                                        <table id="Assets" style="font-size: 14px;margin: auto;width:330px" class="table-condensed" ></table>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                            </div>
                     <div class="panel-group" id="accordion" style="margin:0">
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Liabilities1">
                                    负债类
                                </a>
                                    <input type="button" value="全选" style=" border-radius: 100px;margin:0 0 0 10%;font-weight:normal;font-size:14px" onclick="CheckDetailAll(this)" />
                                </h4>
                            </div>
                            <div id="Liabilities1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                <form>
                                    <div class="input-group " style="margin: auto">
                                        <table id="Liabilities" style="font-size: 14px;margin: auto;width:330px" class="table-condensed" >
                                       </table>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                            </div>
                     <div class="panel-group" id="accordion" style="margin:0">
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#OwnerEquity1">
                                    所有者权益类
                                </a>
                                    <input type="button" value="全选" style=" border-radius: 100px;margin:0 0 0 1%;font-weight:normal;font-size:14px" onclick="CheckDetailAll(this)" />
                                </h4>
                            </div>
                            <div id="OwnerEquity1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                <form>
                                    <div class="input-group " style="margin: auto">
                                        <table id="OwnerEquity" style="font-size: 14px;margin: auto;width:330px" class="table-condensed">
                                       </table>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                            </div>
                     <div class="panel-group" id="accordion" style="margin:0">
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Cost1">
                                    成本类
                                </a>
                                    <input type="button" value="全选" style=" border-radius: 100px;margin:0 0 0 10%;font-weight:normal;font-size:14px" onclick="CheckDetailAll(this)" />
                                </h4>
                            </div>
                            <div id="Cost1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                <form>
                                    <div class="input-group " style="margin: auto">
                                        <table id="Cost" style="font-size: 14px;margin: auto;width:330px" class="table-condensed">
                                       </table>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                            </div>
                     <div class="panel-group" id="accordion" style="margin:0">
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#IncomeStatement1">
                                    损益类
                                </a>
                                    <input type="button" value="全选" style=" border-radius: 100px;margin:0 0 0 10%;font-weight:normal;font-size:14px" onclick="CheckDetailAll(this)" />
                                </h4>
                            </div>
                            <div id="IncomeStatement1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                <form>
                                    <div class="input-group " style="margin: auto">
                                        <table id="IncomeStatement" style="font-size: 14px;margin: auto;width:330px" class="table-condensed">
                                       </table>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                            </div>
                             <div class="input-group " style="margin: auto">
                                    @*<input type="button"onclick="Select()" value="全选" style=" border-radius: 100px;"/>
                                    <input type="button"onclick="Deselect()" value="清空" style=" border-radius: 100px;"/>*@
                                </div>
                            <div class="form-group" style="margin: auto; text-align: center">
                                <button onclick="Submit()" type="button" style="margin-top: 20px; height: 40px; width: 20%; border-radius: 100px; font-size: 16px; border: 0px solid #c0c0c0; font-weight: bold" class="btn btn-primary">提交</button>
                                <button onclick="Back()" type="button" style="margin-top: 20px; height: 40px; width: 20%; border-radius: 100px; font-size: 16px; border: 0px solid #c0c0c0; font-weight: bold" class="btn btn-primary">返回上页</button>
                            </div>
                       </div>
             <div class="col-md-2" style="margin: auto">
             </div>
            </div>
        </div>
       </div>
        <br />
    </section>
</div>
<div class="modal fade" id="Subject" tabindex="-1" role="dialog" aria-labelledby="AmountUsed"
    aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <input type="hidden" value="" id="actionHandler" name="actionHandler" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                    &times;
                </button>
                <h4 class="modal-title" id="amyModalLabel">
                   添加子科目
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 0px">
                    <input type="hidden" value="" id="strParentID" name="strParentID" />
                    <input type="hidden" value="" id="AccCode" name="AccCode" />
                    <input type="hidden" value="" id="Subject" name="Subject" />
                        <input type="hidden" value="" id="rowIndex" name="rowIndex" />
                          <div class="form-group">
                            <div class="input-group input-group-sm" style="margin: 0;">
                                    <span class="input-group-addon">子科目名称</span>
                                    <input id="Name" type="text" name="" class="form-control" autocomplete="off" placeholder="">
                                  
                                </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
             <button type="button" class="btn btn-primary" onclick="SubmitSubject()">
                    提交
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" >
                    关闭
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<script language="javascript" type="text/javascript">
    jQuery(document).ready(function () {
        $("#Subject").on("hidden.bs.modal", function () {
            $('#Subject #Name').val("");
        });
        var list = $('.table-condensed');
        var id = "";
        list.each(function () {
            id = $(this).attr("id")

            $('#' + id).bootstrapTable({
                url: "/GeneralLedgerAccount/GetLAccount?Name=" + id,
                method: 'get',
                pageSize: 20,
                pageNumber: 1,
                showHeader: false,
                singleSelect: false,
                detailView: true,
//                clickToSelect: true,
                checkOnSelect: true,
                selectOnCheck: true,
                checkboxHeader: false,
                detailShow:false,
                icons:{
                    detailOpen: 'glyphicon-chevron-right colorRed',
                    detailClose: 'glyphicon-chevron-down colorRed'
                },
                columns: [[
                { field: 'State', checkbox: true, title: '', width: '10%', formatter: stateFormatter,align:'right' },
                { field: 'AccCode', title: '', align: 'left', width: '10%' },
                { field: 'Name', title: '', align: 'left', width: '38%' },
                { field: 'LA_GUID', width: '15%', align: 'right', formatter: handle },
                { field: 'LA_GUID', width: '27%', align: 'left', formatter: Linkhandle },
                ]],
                detailBind: function (index, row, $detail) {
                    InitDetailable(index, row, $detail);
                }
            });
        });
    });

    function CheckDetailAll(obj)
    {
        $(obj).parent().parent().next().find("table input:checkbox").each(function ()
        {
            $(this).prop("checked", "checked");
        })
    }

function InitDetailable(index, row, $detail) {
    var parentid = row.LA_GUID;
    var cur_table = $detail.html('<table></table>').find('table');
    cur_table.attr('id', parentid);
    cur_table.attr('class', 'Table2');
    cur_table.attr('style', 'margin-left:18px');
    $(cur_table).bootstrapTable({
        url: "/GeneralLedgerAccount/GetDetailLAccount",
        method: 'get',
        queryParams: { strParentID: parentid },
        ajaxOptions: { strParentID: parentid },
        showHeader: false,
        detailShow: false,
//        clickToSelect: true,
        detailView: true, //父子表
        uniqueId: "DA_GUID",
        pageSize: 10,
        pageList: [10, 25],
        columns: [[
                { field: 'State', checkbox: true, title: '', width: '10%', formatter: stateFormatter },
                { field: 'AccCode', title: '', align: 'left', width: '10%',formatter: handle1 },
                { field: 'Name', title: '', align: 'left', width: '38%' },
                { field: 'DA_GUID', width: '15%', formatter: handle },
                { field: 'DA_GUID', width: '27%', align: 'left', formatter: Linkhandle1 },
             ]],
        //无线循环取子表，直到子表里面没有记录
        detailBind: function (index, row, $Subdetail) {
            InitSubTable(index, row, $Subdetail);
        },
        onLoadSuccess: function (data)
        {
            if (data.length == 0)
            {
                $detail.parent().prev().find(".detail-icon").hide();
                $detail.parent().hide();
            } else {
                $detail.parent().prev().find(".detail-icon").show();
            }
        }
    });
    //if ($(cur_table).bootstrapTable("getData").length == 0) {
    //    $Subdetail.parent().prev().find(".detail-icon").hide();
    //}
};

function InitSubTable(index, row, $Subdetail) {
    var parentid = row.DA_GUID;
    var cur_table = $Subdetail.html('<table></table>').find('table');
    cur_table.attr('id', parentid);
    cur_table.attr('class', 'Table3');
    cur_table.attr('style', 'margin-left:30px');
    $(cur_table).bootstrapTable({
        url: "/GeneralLedgerAccount/GetThirdDetailLAccount",
        method: 'get',
        queryParams: { strParentID: parentid },
        ajaxOptions: { strParentID: parentid },
//        clickToSelect: true,
//        detailView: true, //父子表
        uniqueId: "TDA_GUID",
        showHeader: false,
        pageSize: 10,
        pageList: [10, 25],
        columns: [[
                { field: 'State', checkbox: true, title: '', width: '10%', formatter: stateFormatter },
               { field: 'AccCode', title: '', align: 'left', width: '10%' },
                { field: 'Name', title: '', align: 'left', width: '38%' },
                { field: 'TDA_GUID', width: '30%', formatter: handle },
             ]],
//        无线循环取子表，直到子表里面没有记录
//        onExpandRow: function (index, row, $Subdetail) {
//            InitSubTable(index, row, $Subdetail);
        //        }
        onLoadSuccess: function (data)
    {
            if (data.length == 0) {
                $Subdetail.parent().prev().find(".detail-icon").hide();
                $Subdetail.parent().hide();
            } else {
                $Subdetail.parent().prev().find(".detail-icon").show();
            }
    }
    });
    //if ($(cur_table).bootstrapTable("getData").length == 0) {
    //    $Subdetail.parent().prev().find(".detail-icon").hide();
    //}
};
  
    function Submit() {
        //var arr = $("#dataList").bootstrapTable('getData');
        //取到所有勾选的行
        var list = $('.table-condensed');
        var list2 = $('.Table2');
        var list3 = $('.Table3');
     var id = "";

    //所有的guid
   var str = '';
   var check;
   
        //定义分隔符
        var separatorStr = ',';
        list.each(function () {
            id = $(this).attr("id")

            //            var arr = $("#" + id).bootstrapTable('getAllSelections');
            var arr = $("#" + id).bootstrapTable('getData');
            if (arr.length > 0) {
                for (var i = 0; i < arr.length; i++) {

                    if (arr[i].State == true) {
                        arr[i].State = '1';
                    } else {
                        arr[i].State = '0';
                    }
                }
                var jsonData = JSON.stringify(arr);
                $.ajax({
                    type: 'Post',
                    url: '/GeneralLedgerAccount/UpdateUsingLA/',
                    data: { jsonData1: jsonData },
                    async: false,
                    success: function (data) {
                        if (JSON.parse(data).Result) {
                            check = "right";
                            $("#" + id).bootstrapTable("refresh");
                        }
                        else {
                            check = "wrong";
                            alert("提交失败");
                        }
                    }
                });
            }



        });

        list2.each(function () {
            id = $(this).attr("id")

            //            var arr = $("#" + id).bootstrapTable('getAllSelections');
            var arr = $("#" + id).bootstrapTable('getData');
            if (arr.length > 0) {
                //for (var i = 0; i < arr.length; i++) {

                //    if (arr[i].State == true) {
                //        arr[i].State = '1';
                //    } else {
                //        arr[i].State = '0';
                //    }
                //}
                for (var i = arr.length-1; i >=0; i--) {
                    if (arr[i].State == true) {
                        arr[i].State = '1';
                    } else {
                        arr[i].State = '0';
                    }
                    if (arr[i].Mark == "银行存款")
                    {
                        //delete arr[i];
                        arr.splice(i, 1);
                    }
                }
                if (arr.length>0)
                {
                    var jsonData = JSON.stringify(arr);
                    $.ajax({
                        type: 'Post',
                        url: '/GeneralLedgerAccount/UpdateUsingDLA/',
                        data: { jsonData2: jsonData },
                        async: false,
                        success: function (data) {
                            if (JSON.parse(data).Result) {
                                //                        alert("提交成功");
                                check = "right";
                                $("#" + id).bootstrapTable("refresh");
                            }
                            else {
                                check = "wrong";
                                alert("提交失败");
                            }
                        }
                    });
                }
            }
        });
        list3.each(function () {
            id = $(this).attr("id")

            //            var arr = $("#" + id).bootstrapTable('getAllSelections');
            var arr = $("#" + id).bootstrapTable('getData');
            if (arr.length > 0) {
                for (var i = 0; i < arr.length; i++) {

                    if (arr[i].State == true) {
                        arr[i].State = '1';
                    } else {
                        arr[i].State = '0';
                    }
                }
                var jsonData = JSON.stringify(arr);
                $.ajax({
                    type: 'Post',
                    url: '/GeneralLedgerAccount/UpdateUsingThLA/',
                    data: { jsonData3: jsonData },
                    async: false,
                    success: function (data) {
                        if (JSON.parse(data).Result) {
                            //                        alert("提交成功");
                            check = "right";
                            $("#" + id).bootstrapTable("refresh");
                        }
                        else {
                            check = "wrong";
                            alert("提交失败");
                        }
                    }
                });
            }



        });
        if (check == "right") {
            alert("提交成功");
        }
        else {
            alert("提交失败");
        }


//        if (arr1.length > 0) { 
//            for(var i=0;i<arr1.length;i++)
//            {
//                var row = arr1[i];
//                if (row.State == true) {
//                    str = str + row.Guid + separatorStr;
//                    //将勾选的行的guid组合到一起，用分隔符分开
//                }
//            }
//        }
//        $.ajax({
//            cache: true,
//            type: "POST",
//            url: "/UserManagement/UpdUserModule",
//            //dataType: "json",
//            data: { "str": str, "sep": separatorStr },
//            success: function (data) {
//                alert(data);
//                var list=$('.table');
//             var id = "";
//            list.each(function() {
//                id = $(this).attr("id")

//                $('#'+id).bootstrapTable("refresh");
//                   
//            });       
//                 
//            },
//            error: function (data) {
//                alert(data);
//            }
//        });
//        $("#dataList tr td input[type='checkbox'][name='btSelectItem']:checked").each(function () {
//            var uniqueId = $(this).parent().parent().attr("data-index");
//            var child=$("#dataList").bootstrapTable('getRowByUniqueId',uniqueId);
//        });
//        var table = document.getElementById("dataList"); //获取表格
//        var rowIndex = 1;
//        var child = table.getElementsByTagName("tr")[rowIndex]; //获取行的第一个单元格
//        if (child.lastChild.checked) {
//            alert('checked ' + child.lastChild.innerHTML);
//        } else {
//            alert('unchecked ' + child.lastChild.innerHTML);
//        }
//        var text = '';
//        for (var inx = 1; inx < 63; inx++) {
//            var child = table.getElementsByTagName("tr")[inx];
//            text = text + child.lastChild.innerHTML + ' ';
//        }
//        alert(text);
    }
    
    function Back() {
        window.history.go(-1);
    }
    var handle = function (value, row, index) {
        if (row.Mark == "常规" || row.Mark == "银行存款") {
            link1 = "";
        } else {
            var link1 = " <a class='linkbtn' style='font-size:5px'   onclick='Delt(\"" + value + "\")'>@General.Resource.Common.Delete</a> ";
                }
        return link1;
    }
    var Linkhandle =function(value,row,index) {
        var link1 = " <a class='linkbtn' style='font-size:5px'   onclick='AddSubject(\"" + value + '","' + row.AccCode + '","' + "1" + "\")'>添加子科目</a> ";
        return link1;
    }
    var Linkhandle1 = function (value, row, index) {
        if (row.Mark == "银行存款") {
            link1 = "";
        } else { 
        var link1 = " <a class='linkbtn' style='font-size:5px'  onclick='AddSubject(\"" + value + '","' + row.AccCode + '","' + "2" + "\")'>添加子科目</a> ";
    }
        return link1;
    }
    var handle1 = function (s) {
        if (s == null || s == "undefined" || s == '0') {
            return "";
        }
        return s;
    }

    function Delt(value)
    {
        var a
        $.ajax({
            url: "/GeneralLedgerAccount/GetParentGuid?id=" + value,
            async: false,
            dataType: "json",
            success: function (data) {
                a = data.LA_GUID;
            }
        });

         $.ajax({
            url: "/GeneralLedgerAccount/DeleteAccount?id=" + value,
            type: "POST",
            success: function (data) {
                if (JSON.parse(data).Result) {
                          alert("提交成功");
                          $('#' + a).bootstrapTable('refresh');
                        }
                        else {
                            alert("提交失败");
                        }
            }
            });
    }

    function AddSubject(value, ParentAccCode,check) {
        $('#Subject').modal({ show: true, backdrop: 'static' });
        $(".boxed-layout").css("padding-right", "0px");
        var a
        var AccCode
         if(check=='1'){
          $.ajax({
            url: "/GeneralLedgerAccount/GetDetailLAccount?strParentID=" + value,
            async: false,
            dataType: "json",
            success: function (data) {
                a = data.length;
            }
        });
         }
         else if (check=='2')
         {
         $.ajax({
            url: "/GeneralLedgerAccount/GetThirdDetailLAccount?strParentID=" + value,
            async: false,
            dataType: "json",
            success: function (data) {
                a = data.length;
            }
              });
         }
        
        if (a == 0) {
            AccCode = String(ParentAccCode) + "01"
        }if (a > 0 && a < 10) {
            AccCode = String(ParentAccCode) + "0" + String(a+1);
        } else if (a==10||a>10) {
            AccCode = String(ParentAccCode) + String(a + 1);
        }
        $('#Subject #strParentID').val(value);
        $('#Subject #AccCode').val(AccCode);
         if(check=='1'){
            $('#Subject #Subject').val("Second");
         }
         else if (check=='2')
         {
         $('#Subject #Subject').val("Third");
         }
          

    }

    function SubmitSubject() {
        $.ajax({
            url: "/GeneralLedgerAccount/AddSubject/",
            type: "POST",
            data: { strParentID: $('#Subject #strParentID').val(), AccCode: $('#Subject #AccCode').val(), Name: $('#Subject #Name').val(),Subject:$('#Subject #Subject').val() },
            success: function (data) {
            if (JSON.parse(data).Result) {
                          alert("提交成功");
                           $('#Subject').modal('hide');
                           var id =$('#Subject #strParentID').val();
                            $('#'+id).bootstrapTable('refresh');
                        }
                        else {
                            alert("提交失败");
                        }
            }
        });
    }

    function stateFormatter(value, row, index) {
        if (value === "1") {
            return {
                checked: true
            };
        } else {
            return {
                checked: false
            };
        }
        return value;
    }
    
    function Select() {
    var list=$('.table');
     var id = "";
    list.each(function() {
        id = $(this).attr("id")
         $("#"+id).bootstrapTable('checkAll');
        });
           
    }

   function Deselect(){
    var list=$('.table');
     var id = "";
    list.each(function() {
        id = $(this).attr("id")
         $("#"+id).bootstrapTable('uncheckAll');
        });
           
    }

</script>