@{
    ViewBag.Title = "ReceivablesRecord";
    Layout = "~/Views/Shared/_ContentLayout_V4.cshtml";
}
<input type="hidden" id="hidCurrency"/>
<input type="hidden" id="hidflag"/>
<table style="height: auto;">
    <tr>
        <td >
            <a id="a3" class="easyui-linkbutton" onclick="ChooseReceivable()">从应收账款中获取</a>
            <a id="a4" class="easyui-linkbutton" onclick="GetDeclareCustomer()">从申报收入外收款列表获取</a>
        </td>
    </tr>
    <tr>
        <td>
            <a id="a2" class="easyui-linkbutton" onclick="ShowImport()">收款记录Excel导入</a>
            <a id="a1" class="easyui-linkbutton" href='/ReceivablesRecord/DownLoadFile?fileID=2b2b6a2d-77b0-43a7-9a7a-fcbbd0c65cf4'>下载记录收款Excel模板</a>
        </td>
    </tr>
</table>
<form id="ReceivableRecord_form">
<table id="ReceivableRecordTable" class="easyui-datagrid" title="" style="width:700px;height:auto"
       data-options="
                iconCls: 'icon-edit',
                singleSelect: true,
                toolbar: '#tb',
                url: 'datagrid_data1.json',
                method: 'get',
                onBeforeLoad: function () {
                    append();
                },
                onClickCell: onClickCell
            ">
        <thead>
            <tr>
                <th data-options="field:'RP_GUID',width:80,hidden:true">RP_GUID</th>
                <th data-options="field:'IE_GUID',width:80,hidden:true">IE_GUID</th>
                <th data-options="field:'RPer',width:80,hidden:false,
                        formatter:function(value,row){
                            return row.Name;
                        },
                        editor:{
                            type:'combobox',
                            options:{
                                editable:false,
                                required:true,
                                url:'/InternalAPI/GetPayer',
                                textField:'Name',
                                valueField:'BP_GUID'
                            }}">付款人</th>
                <th data-options="field:'RPerName',width:80,hidden:true">付款单位</th>
                <th data-options="field:'Money',width:80,formatter: DecimalFmter,editor:{type:'numberbox',options:{precision:1,required: true}}">收款金额</th>
                <th data-options="field:'Date',width:100,editor:{type:'datebox',options:{required: true}}">收款日期</th>
                <th data-options="field:'Remark',width:150,editor:'text'">备注</th>
                <th data-options="field:'AddStyle',width:80">新增方式</th>
                <th data-options="field:'Action',width:100,formatter:ActionFormatter">操作</th>
            </tr>
        </thead>
    </table>

<div id="tb" style="height: auto">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">新增</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">撤销</a>
</div>
<div>
    <table id="RRTable" style="width: 700px; height: 50px">
        <tr>
            <td>@FMS.Resource.Finance.Finance.ReceivableAccount</td>
            <td>
                <input id="RRBank" name="B_GUID"/>
            </td>
            <td>
                <input id="RRBankAccount" name="BA_GUID"/>
            </td>
            <td>@FMS.Resource.Finance.Finance.Currency:</td>
            <td>
                <input id="RRCurrency" name="Currency" data-options='editable:false,panelHeight:"auto",panelMaxHeight:200,required:true'/>
            </td>
            <td><a class="easyui-linkbutton"  onclick="RRSubmitForm()">@General.Resource.Common.Save</a></td>
        </tr>
    </table>
</div>
</form>
<script type="text/javascript">
    var ActionFormatter = function(value, row, index) {
        var a = " <a class='linkbtn' onclick='Up(\"" + row.RP_GUID + "\")'>上传凭证</a> ";
        return a;
    }

    function Up(rpguid) {
        $("<div id='UpReceivablesRecordFile'></div>").dialog({
            title: '上传收款凭证 ',
            width: 250,
            height: 500,
            onLoad: function() {
                $("#GUID").val(rpguid);
            },
            onClose: function() {
                $("#UpReceivablesRecordFile").dialog("destroy");
                $('#ChooseReceivablesRecord_List').datagrid('clearSelections');
            },
            buttons: [{ text: '上传', handler: function() { $('#UpRRFileform #file_upload').uploadify('upload', '*'); } }]
        });
        $('#UpReceivablesRecordFile').dialog("refresh", "/ReceivablesRecord/UpRRFile");
    }

    var CommonCurrency;
    var BankAccount;
    var StandardCoin;
    $(function() {
        $.ajax({
            url: "/InternalAPI/GetUserCurrency",
            async: false,
            dataType: "json",
            success: function(d) { CommonCurrency = d; }
        });
        $.ajax({
            url: "/InternalAPI/GetCompanySetting",
            async: false,
            dataType: "json",
            success: function (d) {
                StandardCoin = d.StandardCoin;
            }
        });
        $.ajax({
            url: "/InternalAPI/GetBankAccounts",
            async: false,
            dataType: "json",
            success: function(d) {
                var obj = new Object();
                obj.ID = "0";
                obj.Name = "现金";
                obj.children = new Array();
                d.push(obj);
                BankAccount = d;
            }
        });

        $("#RRTable #RRCurrency").combobox({
            editable: false,
            required: true,
            data: CommonCurrency,
            onLoadSuccess: function (data) {
                $("#RRTable #RRCurrency").combobox("setValue", StandardCoin);
            }
        });

        $("#RRTable #RRBank").combobox({
            editable: false,
            required: true,
            data: BankAccount,
            textField: "Name",
            valueField: "ID",
            onSelect: function(rec) {
                $("#RRTable #RRBankAccount").combobox("loadData", rec.children);
            },
            onChange: function(newV, oldV) {
                if (newV != oldV) {
                    $("#RRTable #RRBankAccount").combobox("clear");
                }
            }
        });

        $("#RRTable #RRBankAccount").combobox({
            editable: false,
            required: true,
            textField: "Name",
            valueField: "ID"
        });
    });

    function NewRP_GUID() {
        var RPGUID;
        $.ajax({
            url: "/ReceivablesRecord/NewGuid",
            async: false,
            dataType: "text",
            success: function(d) {
                RPGUID = d.toString();
            }
        });
        return RPGUID;
    }

    var editIndex = undefined;

    function endEditing() {
        if (editIndex == undefined) {
            return true
        }
        if ($('#ReceivableRecordTable').datagrid('validateRow', editIndex)) {
            var ed = $('#ReceivableRecordTable').datagrid('getEditor', { index: editIndex, field: 'RPer' });
            var name = $(ed.target).combobox('getText');
            $('#ReceivableRecordTable').datagrid('getRows')[editIndex]['Name'] = name;
            $('#ReceivableRecordTable').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }

    function onClickCell(index, field) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#ReceivableRecordTable').datagrid('selectRow', index)
                    .datagrid('beginEdit', index);
                var ed = $('#ReceivableRecordTable').datagrid('getEditor', { index: index, field: field });
                ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                editIndex = index;
            } else {
                $('#ReceivableRecordTable').datagrid('selectRow', editIndex);
            }
        }
    }
    var myDate = new Date();
    function append() {
        if (endEditing()) {
            $('#ReceivableRecordTable').datagrid('appendRow', { RP_GUID: NewRP_GUID(), AddStyle: "直接新增",Date:myDate.getTime() });
            editIndex = $('#ReceivableRecordTable').datagrid('getRows').length - 1;
            $('#ReceivableRecordTable').datagrid('selectRow', editIndex)
                .datagrid('beginEdit', editIndex);
        }
    }

    function removeit() {
        if (editIndex == undefined) {
            return
        }
        $('#ReceivableRecordTable').datagrid('cancelEdit', editIndex)
            .datagrid('deleteRow', editIndex);
        editIndex = undefined;
    }

    function accept() {
        if (endEditing()) {
            $('#ReceivableRecordTable').datagrid('acceptChanges');
        }
    }

    function reject() {
        $('#ReceivableRecordTable').datagrid('rejectChanges');
        editIndex = undefined;
    }

    function getChanges() {
        var rows = $('#ReceivableRecordTable').datagrid('getChanges');
        alert(rows.length + ' rows are changed!');
    }

    $.extend(
        $('#ReceivableRecordTable').datagrid.defaults.editors, {
            datebox: {
                init: function(container, options) {
                    var input = $('<input type="text">').appendTo(container);
                    input.datebox(options);
                    return input;
                },
                destroy: function(target) {
                    $(target).datebox('destroy');
                },
                getValue: function(target) {
                    return $(target).datebox('getValue');
                },
                setValue: function(target, value) {
                    $(target).datebox('setValue', formatDatebox(value));
                },
                resize: function(target, width) {
                    $(target).datebox('resize', width);
                }
            }
        });

    function formatDatebox(value) {
        if (value == null || value == '') {
            return '';
        }
        var dt = parseToDate(value); //关键代码，将那个长字符串的日期值转换成正常的JS日期格式 
        return dt.format("yyyy-MM-dd"); //这里用到一个javascript的Date类型的拓展方法，这个是自己添加的拓展方法，在后面的步骤3定义  
    }

    function parseToDate(value) {
        if (value == null || value == '') {
            return undefined;
        }

        var dt;
        if (value instanceof Date) {
            dt = value;
        } else {

            if (!isNaN(value)) {
                dt = new Date(value);
            } else if (value.indexOf('/Date') > -1) {
                value = value.replace(/\/Date(−?\d+)\//, '$1');
                dt = new Date();
                dt.setTime(value);
            } else if (value.indexOf('/') > -1) {
                dt = new Date(Date.parse(value.replace(/-/g, '/')));
            } else {
                dt = new Date(value);
            }
        }
        return dt;
    }

    function RRSubmitForm() {
        accept();
        var rows = $('#ReceivableRecordTable').datagrid('getRows');
        $.each(rows, function(index, item) {
            var rpguid = item.RP_GUID;
            var rper = item.RPer;
            var date = item.Date;
            var money = item.Money;
            var remark = item.Remark;
            var currencys = $("#RRCurrency").combobox('getValue');
            var banks = $("#RRBank").combobox('getValue');
            var bankaccounts = $("#RRBankAccount").combobox('getValue');
            var ieguids;
            if (item.IE_GUID == "" || item.IE_GUID == null) {
                ieguids = null;
            } else {
                ieguids = item.IE_GUID;
            }
            var addstyle = item.AddStyle;
            $.ajax({
                url: '/ReceivablesRecord/UpdReceivablesRecordDts?id=' + rpguid + '&name=' + rper + '&date=' + date + '&money=' + money + '&remark=' + remark + '&currency=' + currencys + '&bank=' + banks + '&bankaccount=' + bankaccounts + '&ieguid=' + ieguids + '&addstyle=' + addstyle,
                type: "POST",
                beforeSend: function () {
                    //表单验证
                    return $("#ReceivableRecord_form").form('validate');
                },
                success: function(data) {
                    if (addstyle == "收入计入收款") {
                        $("#Income_Form #flag").val("收入计入收款");
                    }
                    //成功则改变收入存款状态=销账
                    if (addstyle == "收入获取") {
                        $.ajax({
                            url: '/ReceivablesClassify/UpdState?id=' + ieguids,
                            type: "POST"
                        });
                    }
                    if (addstyle == "预收客户款" || addstyle == "押金与暂支付款" || addstyle == "吸取投资" || addstyle == "借款" || addstyle == "其他与筹资活动有关的收款") {
                        $.ajax({
                            url: '/ReceivablesRecord/UpdState?id=' + ieguids,
                            type: "POST"
                        });
                    }
                    //成功则刷新表
                    if ($.parseJSON(data).Result) {
                        $('#ReceivableRecordTable').datagrid('loadData', { total: 0, rows: [] });
                    }
                },
                error: errorHandle
            });

        });
        $("#ReceivableRecordTable").datagrid('hideColumn', 'RPerName');
        $("#ReceivableRecordTable").datagrid('showColumn', 'RPer');
    }

    function ChooseReceivable() {
        if ($("#WinReceivablesRecord").length > 0) {
            $("#WinReceivablesRecord").dialog("close");
        }
        $("#ReceivableRecordTable").after("<div id='WinReceivablesRecord'></div>");
        $("#WinReceivablesRecord").dialog({
            title: ' ',
            width: 800,
            height: 378,
            onClose: function() {
                $("#WinReceivablesRecord").dialog("destroy");
            },
            buttons: [{ text: '提交', handler: function() { NextPage(); } }]
        });

        $('#WinReceivablesRecord').dialog("refresh", "/ReceivablesRecord/ChooseReceivablesRecord/");
    }

    function NextPage() {
        removeit();
        var items = $('#ChooseReceivablesRecord_List').datagrid('getChecked');
        $.each(items, function(index, item) {
            var rper = item.Payer;
            var rpername = item.RPerName;
            var money = item.Money;
            var ieguid = item.R_GUID;
            var myDate = new Date();
            if (endEditing()) {
                $('#ReceivableRecordTable').datagrid('appendRow', {
                    RP_GUID: NewRP_GUID(),
                    IE_GUID: ieguid,
                    RPer: rper,
                    RPerName: rpername,
                    Money: money,
                    Date: formatDatebox(myDate.getTime()),
                    AddStyle: "收入获取"
                });
            }
        });
        $("#ReceivableRecordTable").datagrid('hideColumn', 'RPer');
        $("#ReceivableRecordTable").datagrid('showColumn', 'RPerName');
        $("#WinReceivablesRecord").dialog("destroy");
    }

    //显示导入界面
    function ShowImport() {
        $("#ReceivableRecordTable").after("<div id='ImportRecord'></div>");
        $("#ImportRecord").dialog({
            title: '收款信息批量导入',
            padding: 100,
            width: 300,
            height: 110,
            onClose: function() {
                $("#ImportRecord").dialog("destroy");
            },
            buttons: [
                {
                    text: '导入',
                    handler: function() { excel(); }
                }
            ]
        });
        $('#ImportRecord').dialog("refresh", "/ReceivablesRecord/ImportRecord/");
    }

    //利用表单导入EXCEL
    function excel() {
        $("#upexcel").form("submit", {
                url: '/ReceivablesRecord/Upexcel',
                onSubmit: function() {
                    return $(this).form("validate"); //提交前验证
                },
                success: function(data) {
                    $.messager.alert('Excel批量用户导入', data, 'info');
                    $("#ImportRecord").dialog("destroy");
                }
            }
        );
    }

    function GetDeclareCustomer() {
        $("#ReceivableRecordTable").after("<div id='WinReceivablesDeclareCustomer'></div>");
        $("#WinReceivablesDeclareCustomer").dialog({
            title: ' ',
            width: 800,
            height: 378,
            onClose: function() {
                $("#WinReceivablesDeclareCustomer").dialog("destroy");
            },
            buttons: [{ text: '提交', handler: function() { GetDeclareCustomerNextPage(); } }]
        });

        $('#WinReceivablesDeclareCustomer').dialog("refresh", "/ReceivablesRecord/GetReceivablesDeclareCustomer/");
    }

    function GetDeclareCustomerNextPage() {
        removeit();
        var items = $('#ChooseReceivablesDeclareCustomer_List').datagrid('getChecked');
        $.each(items, function(index, item) {
            var rper = item.RPer;
            var rpername = item.RPerName;
            var money = item.Amount;
            var ieguid = item.GUID;
            var addstyle = item.InvType;
            var myDate = new Date();
            if (endEditing()) {
                $('#ReceivableRecordTable').datagrid('appendRow', {
                    RP_GUID: NewRP_GUID(),
                    IE_GUID: ieguid,
                    RPer: rper,
                    RPerName: rpername,
                    Money: money,
                    Date: formatDatebox(myDate.getTime()),
                    AddStyle: addstyle
                });
            }
        });
        $("#ReceivableRecordTable").datagrid('hideColumn', 'RPer');
        $("#ReceivableRecordTable").datagrid('showColumn', 'RPerName');
        $("#WinReceivablesDeclareCustomer").dialog("destroy");
    }

    function GetDeclareDeposit() {
        $("#ReceivableRecordTable").after("<div id='WinReceivablesDeclareDeposit'></div>");
        $("#WinReceivablesDeclareDeposit").dialog({
            title: ' ',
            width: 800,
            height: 378,
            onClose: function () {
                $("#WinReceivablesDeclareDeposit").dialog("destroy");
            },
            buttons: [{ text: '提交', handler: function () { GetDeclareDepositNextPage(); } }]
        });

        $('#WinReceivablesDeclareDeposit').dialog("refresh", "/ReceivablesRecord/GetReceivablesDeclareDeposit/");
    }

    function GetDeclareDepositNextPage() {
        removeit();
        var items = $('#ChooseReceivablesDeclareDeposit_List').datagrid('getChecked');
        $.each(items, function (index, item) {
            var rper = item.RPer;
            var rpername = item.RPerName;
            var money = item.Amount;
            var ieguid = item.GUID;
            if (endEditing()) {
                $('#ReceivableRecordTable').datagrid('appendRow', {
                    RP_GUID: NewRP_GUID(),
                    IE_GUID: ieguid,
                    RPer: rper,
                    RPerName: rpername,
                    Money: money,
                    AddStyle: "从押金与暂支付列表获取"
                });
            }
        });
        $("#ReceivableRecordTable").datagrid('hideColumn', 'RPer');
        $("#ReceivableRecordTable").datagrid('showColumn', 'RPerName');
        $("#WinReceivablesDeclareDeposit").dialog("destroy");
    }
</script>
