<a href="/Common/ChangeLanguage?lang=zh-CN"
  style="text-decoration:none; font-family:Arial" >中文</a> &nbsp;
<label style="color: Gray">
</label>
<a href="/Common/ChangeLanguage?lang=en-US"
  style="text-decoration:none; font-family:Arial" >English</a>
<label style="color: Gray">
</label>
