<select id="ThemeSelector" class="easyui-combobox">
    <option value="default">Default</option>
    <option value="black">Black</option>
    <option value="metro">Metro</option>
    <option value="gray">Gray</option>
    <option value="sunny">Sunny</option>
</select>
<script language="javascript" type="text/javascript">
    $(
    function () {
        $("#ThemeSelector").combobox("setValue", $.cookie("theme"));
        $("#ThemeSelector").combobox(
        {
            onSelect: function (record) {
                $("#theme").empty();
                $("#theme").html("<link href='../../Content/EasyUI/themes/" + record.value + "/easyui.css' type='text/css' rel='Stylesheet' />");
                $("#theme", window.frames[0].document).empty();
                $("#theme", window.frames[0].document).html("<link href='../../Content/EasyUI/themes/" + record.value + "/easyui.css' type='text/css' rel='Stylesheet' />");
                $.cookie("theme", record.value, { path: "/", expires: 7 });
            }
        });
    }
    );  
</script>