<div style="float:right;">
    <a href="#" onclick="ToPending()" style="text-decoration:none; font-family:Arial" >Home</a>
    <span >@General.Resource.Common.Welcome </span>
    <b >@(((Utilities.CustomPrincipal)User).UserData.LoginFullName)</b>
</div>
