@{
    ViewBag.Title = "TermsOfUse";
    Layout = "~/Views/Shared/_LoginLayout_New.cshtml";
}
<div id="main" style="margin-top: 100px; background-color: #FFF">
    <div id="content" style="width:750px;margin:auto;margin-top:20px" >
            <div class="row">
                <div class="col-lg-12">
                    <p style="font-size: 12pt; font-weight: bold;">
                        使用条款</p>
                    <p>
                        感谢您使用旺财财税网站（以下简称“本网站”）。浏览及使用本网站的任何部分，即表示您已接受以下的使用条款并受到其法律约束。如果您不同意这些使用条款，请不要使用本网站。在任何时候继续使用本网站，均表示您已接受这些使用条款。
                    </p>
                    <h4>
                        一般条款</h4>
                    <p>
                        这些使用条款可能随时变更。所有变更情况将发布在本网站上，若您在此类变更发布后继续使用本网站，则表示您认同使用条款所做出的变更。
                    </p>
                    <h4>
                        所有权</h4>
                    <p>
                        本网站及其内容受到版权法、商标法及其他形式的知识产权法令的保护，并受到国际条约及其他国家相关法律的保护。本网站的所有权利、标题、利益及其内容均归诺丰软件（苏州）有限公司（以下简称“诺丰软件”）所有或获得其许可。
                    </p>
                    <h4>
                        使用限制</h4>
                    <p>
                        未经诺丰软件事先书面同意，不得以任何方式复制、重新发布或散发本网站上的任何内容或材料。<br>
                        您可以使用您的网络浏览器来浏览本网站及其内容，并保存或打印本网站的某些部分以仅用作您个人资讯、研究或学习之用，但前提条件是您须完整保留所有随附的版权及其他所有权声明。<br>
                        修改本网站的任何部分或其任何内容，或为了这些使用条款许可之外的任何目的使用本网站或其内容，都将被视为违反诺丰软件的版权及其他知识产权的行为。
                    </p>
                    <h4>
                        免责条款</h4>
                    <p>
                        使用者承认并同意，本网站上的所有资讯均为“按原样”提供。<br>
                        诺丰软件已善尽合理之努力，以确保公布在本网站上的资讯及材料在公布之时为正确无误。除此之外，诺丰软件无法保证此处所提供的资讯及材料对于用作任何其他目的之准确性或完整性，亦不对此承担任何责任。使用者不应依赖此处所公布的任何资讯或材料，而应单独向诺丰软件验证这些资讯及/或材料的准确性和完整性。<br>
                        使用者承认并同意，对于因直接或间接使用，或无法使用本网站上的任何材料或内容而导致的任何及/或所有后果（包括但不限于因利润、业务中断或资讯遗失而造成的破坏），诺丰软件概不承担任何责任，即使诺丰软件先已获知此类破坏的可能性。
                    </p>
                </div>
            </div>
        </div>
</div>
